.content, #mp-result, #postcode-error, #unconfirmed-email, .loading {
  display: none;
}

.your-mp>h2 {
  margin-bottom: 20px;
}

#postcode-input {
  max-width: 200px;
}

#mp-image-container {
  width: 150px;
  height: 200px;
  max-width: 100%;
  margin-bottom: 20px;
}

#mp-image {
  width: 150px;
  max-width: 100%;
  margin-bottom: 5px;
}

#mp-party {
  width: 150px;
}

#party-image {
  height: 40px;
  float: left;
}

#party-text {
  max-width: 100px;
  height: 40px;
  font-size: 11px;
  margin-left: 5px;
  clear: left;
}

#mp-name {
  text-align: left;
  padding-top: 0px;
  margin-top: 0px;
}

#mp-contact-wrap {
  width: 150px; margin-top: 20px;
}

#mp-contact-buttons {
  margin: auto;
}

#clear-mp {
  margin: 10px;
}

.arrow {
  font-size:50%;
}


.stick {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    z-index: 10000;
    border-radius: 0 0 0.5em 0.5em;
    background-color: #ffffff;
    width: 100%;
    padding-bottom: 10px;
}

.past {
  display: none;
}

.future:nth-of-type(n+7) {
  display: none;
}

#main-title, #about-content {
  text-align: right;
}

#mp-wrapper {
  float:none;
  margin: auto;
  padding: 15px;
  border: 3px solid #b3b0b3;
  border-radius: 25px;

}

.section {
  margin-bottom: 50px;
}

.schedule-extender {
  text-align: right;
  text-decoration: underline;
  color: #0d0058;
}

.date {

  margin-bottom: 40px;
}

.date h3 {
  margin-top: 5px;
}

.date-date {
  text-align: center;
  border-bottom: 2px solid #676767;
  font-size: 110%;
}

.schedule-house:first-child {
  border-right: 1px solid #989595;
}

.schedule-house:nth-child(2) {
  border-left: 1px solid #989595;
  margin-left: -1px;
}
